.container {
    height: 40px;
    background-color: black;
    width: 100%;
    text-align: center;
    line-height: 40px;
    color: #fff;
}

.container p {
    color: gray;
}

.container .dragon {
    color: red;
}